@model Diplom_1._1.ViewModels.AddRoomViewModel

@{
    ViewBag.Title = "AddGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div @*class="panel-success"*@>
        <div class="panel-heading text-center">
            <h4>Розсилка повідомлень</h4>
        </div>
        <div class="panel-body">

            @if(Model.Added == true)
            {
                <label class="label-success">Групу успішно додано!</label>
            }

            @using(Html.BeginForm())
            {
                <div class="form-group">
                    <label>Введіть назву нової групи</label>
                    @Html.TextBoxFor(x => x.NewGroup, new { @class = "form-control" })
                </div>
                    <div class="text-left">
                        <input type="submit" value="Додати" class="btn btn-success" />
                    </div>
            }
        </div>
    </div>
</body>
</html>



