
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: #F1F1F1;
        }
    </style>

</head>
<body>
    <div class="text-center"> 
        <h2>Это страница</h2>

    @using(Html.BeginForm())
    {
        <input type="submit" value="mystring" class="btn btn-success" />
    }





        @*<h3>
            <p>
                @ViewBag.Greeting
                @ViewBag.Hello
            </p>
        </h3>*@

            @*<div class="btn btn-success">
            @Html.ActionLink("Форма RSVP", "RspvForm")
            </div>*@
    </div>


</body>
</html>
